In [1]:
import pandas as pd
import scipy.stats as ss
df = pd.read_csv('Du_lieu/Hostel.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,hostel_name,City,price_from,Distance,summary_score,rating_band,atmosphere,cleanliness,facilities,location_y,security,staff,valueformoney,lon,lat
0,0,1,"""Bike & Bed"" CharinCo Hostel",Osaka,3300,2.9km from city centre,9.2,Superb,8.9,9.4,9.3,8.9,9.0,9.4,9.4,135.513767,34.682678
1,2,3,&And Hostel Akihabara,Tokyo,3600,7.8km from city centre,8.7,Fabulous,8.0,7.0,9.0,8.0,10.0,10.0,9.0,139.777472,35.697447
2,3,4,&And Hostel Ueno,Tokyo,2600,8.7km from city centre,7.4,Very Good,8.0,7.5,7.5,7.5,7.0,8.0,6.5,139.783667,35.712716
3,4,5,&And Hostel-Asakusa North-,Tokyo,1500,10.5km from city centre,9.4,Superb,9.5,9.5,9.0,9.0,9.5,10.0,9.5,139.798371,35.727898
4,5,6,1night1980hostel Tokyo,Tokyo,2100,9.4km from city centre,7.0,Very Good,5.5,8.0,6.0,6.0,8.5,8.5,6.5,139.786950,35.724384

In [ ]:
# m: trung binh gia nah tro o Nhat la m
# h0: m = 9000
# h1: m != 9000

In [4]:
ss.ttest_1samp(df.price_from, popmean=9000)

TtestResult(statistic=0.04812882227478699, pvalue=0.9616459239163525, df=297)

In [3]:
ss.t.ppf(1-0.05, 297)

1.6500003008112845

In [ ]:
# m: điểm đánh giá trung bình > 8.5
# h1: m > 8.5
# h0: m <= 8.5

In [7]:
statistics, pvalue = ss.ttest_1samp(df.summary_score, popmean=8.5, alternative='greater')

In [12]:
pvalue <= 0.05
# p value < alpha chấp nhận h0

True

In [ ]:
# Câu c: