In [1]:
import pandas as pd
%cd D:\MA239\Du_lieu
df = pd.read_csv("SoLieu.csv")

D:\MA239\Du_lieu

In [5]:
df.GioiTinh.value_counts()

Nam    55
Nu     45
Name: GioiTinh, dtype: int64

In [6]:
df.KhuVuc.value_counts()

ThanhPho    42
MienNui     26
NongThon    20
HaiDao      12
Name: KhuVuc, dtype: int64

In [7]:
pd.crosstab(df.GioiTinh, df.KhuVuc)

KhuVuc    HaiDao  MienNui  NongThon  ThanhPho
GioiTinh
Nam            6       13        10        26
Nu             6       13        10        16

In [ ]:
# Trong nhóm được điều tra có bao nhiêu nam và có bao nhiêu người sống ở thành
# phố.
# b. Tính số nam sống ở hải đảo và nữ sống ở nông thôn trong nhóm những người
# được điều tra.
#a, Có 55 Nam và có 42 người sống ở thành phố
#b, Có 6 Nam sống ở hải đảo và 10 nữ sống ở nông thôn

In [8]:
pd.crosstab(df.GioiTinh,df.KhuVuc,normalize='index')

KhuVuc      HaiDao   MienNui  NongThon  ThanhPho
GioiTinh
Nam       0.109091  0.236364  0.181818  0.472727
Nu        0.133333  0.288889  0.222222  0.355556

In [9]:
#  Trong số nữ được điều tra, hãy tính tỉ lệ nữ sống ở thành phố và miền núi
#Tỉ lệ nữ sống ở thành phố là 0.355556
#Tỉ lệ nữ sống ở nông thôn là 0.222222

 Tiến hành phân tổ cột dữ liệu về tuổi thành các tổ với các điểm chia là 20, 30, 40, 50, 60, 70, 80
và tính tỉ lệ những người được điều tra có độ tuổi không vượt quá 50.

In [13]:
print(df.Tuoi.min())
print(df.Tuoi.max())
chia_tuoi = pd.cut(df.Tuoi ,bins=[20, 30, 40, 50 ,60, 70, 80])
chia_tuoi.value_counts()

24
78

(30, 40]    41
(20, 30]    20
(60, 70]    13
(40, 50]    12
(50, 60]    12
(70, 80]     2
Name: Tuoi, dtype: int64

. Tiến hành phân tổ cột dữ liệu về thu nhập thành các tổ với các điểm chia là
20, 30, 40, 50, 60, 70, 80, 90, 100 và cho nhận xét

In [15]:
print(df.ThuNhap.min())
print(df.ThuNhap.max())
chia_thu_nhap = pd.cut(df.ThuNhap, bins = [20, 30, 40, 50, 60, 70, 80, 90, 100] , include_lowest=True)
chia_thu_nhap.value_counts()

20
100

(19.999, 30.0]    37
(40.0, 50.0]      30
(30.0, 40.0]      10
(70.0, 80.0]       9
(90.0, 100.0]      6
(60.0, 70.0]       5
(50.0, 60.0]       2
(80.0, 90.0]       1
Name: ThuNhap, dtype: int64

và tính tỉ lệ những người được điều tra có độ tuổi không vượt quá 50.

In [28]:
tuoi_khong_qua50 = df[df.Tuoi <= 50] 
tuoi_khong_qua50
tuoi_khong_qua50.shape[0]
songuoi=df.shape[0]

tinh_tile = tuoi_khong_qua50.shape[0] /songuoi
tinh_tile

0.73

In [2]:
# Bai 6
diem_thi = pd.read_csv('DiemThi.csv')

In [4]:
# Tính trung bình
diem_thi.mean()

DiemThi    53.3
dtype: float64

In [6]:
#tính trung vị
diem_thi.median()

DiemThi    48.0
dtype: float64

In [8]:
#mode
diem_thi.mode()

   DiemThi
0       47
1       60

In [9]:
#tứ phân vị: Q1 = 37, Q2=48, Q3=61.5
diem_thi.describe()

          DiemThi
count   40.000000
mean    53.300000
std     21.003296
min     19.000000
25%     37.000000
50%     48.000000
75%     61.500000
max    100.000000

In [11]:
#Phân vị thứ 10, 60, 90 lần lượt là: 26.9, 58.2, 87.3
diem_thi.quantile([0.1,0.6,0.9])

     DiemThi
0.1     26.9
0.6     58.2
0.9     87.3

In [13]:
#c. Số đo độ phân tán
# khoảng biến thiên
diem_thi.max() - diem_thi.min()

DiemThi    81
dtype: int64

In [15]:
# độ trải giữa = Q3 - Q1
diem_thi.quantile(0.75) - diem_thi.quantile(0.25)

DiemThi    24.5
dtype: float64

In [17]:
# Phương sai
diem_thi.var()

DiemThi    441.138462
dtype: float64

In [18]:
# độ lệch chuẩn
diem_thi.std()

DiemThi    21.003296
dtype: float64