#### Đọc dữ liệu từ những file có sẵn bằng pandas và truy cập dữ liệu

#### Bài 4.
File dữ liệu HocSinh.csv lưu thông tin của một nhóm học sinh về giới tính
(GioiTinh), lớp (Lop), tuổi (Tuoi), nơi ở (NoiO), học lực (HocLuc), mức độ yêu
thích thể thao (TheThao) và đánh giá hình thức (HinhThuc). Hãy lấy file dữ liệu
và thực hiện các yêu cầu sau:

a. Cho biết dữ liệu trong từng cột được đo bằng thang đo nào?

b. Cho biết tập dữ liệu này có bao nhiêu cột, bao nhiêu dòng?

c. Lấy ra dữ liệu ở cột thứ 3 (Tuoi).

d. Lấy ra toàn bộ dữ liệu ở dòng thứ 10.

e. Tính số học sinh nữ, nam.

f. Tính tỷ lệ học sinh có mức độ yêu thích thể thao là 4. Tính tỷ lệ này trong nhóm
học sinh nam, trong nhóm học sinh nữ.

In [2]:
# Đọc dữ liệu vào python để thực hành
# Nhập pandas
import pandas as pd
# Tạo đường dẫn đến thực mục chứa dữ liệu: python/dulieu
% cd python/dulieu
%cd D:\Nhung\BaiGiang\XSTK-MA239\Toan-Tin\XSTK_TI\SoanBaiTap_XSTK\DuLieu\Du_lieu

D:\Nhung\BaiGiang\XSTK-MA239\Toan-Tin\XSTK_TI\SoanBaiTap_XSTK\DuLieu\Du_lieu

In [10]:
# đọc file HocSinh.csv bằng hàm read_csv() trong pandas
df = pd.read_csv('HocSinh.csv')

Để tìm hiểu về file dữ liệu, ta có thể sử dụng một trong các phương thức sau.

- df.head() # hiển thị một số quan sát đầu
- df.shape # cho dạng của bảng dữ liệu
- df.columns # cho tên các cột
- df.info() # cho thông tin các biến trong bảng dữ liệu

In [4]:
df.head()

   Unnamed: 0 GioiTinh  Lop  Tuoi    NoiO  HocLuc  TheThao  HinhThuc
0           1      Nam    5    11  NgoaiO       1        2         4
1           2      Nam    5    10  NgoaiO       2        1         4
2           3       Nu    5    11  NgoaiO       4        3         1
3           4       Nu    5    11  NgoaiO       2        3         4
4           5       Nu    5    10  NgoaiO       4        2         1

In [5]:
df.shape

(475, 8)

In [6]:
df.columns

Index(['Unnamed: 0', 'GioiTinh', 'Lop', 'Tuoi', 'NoiO', 'HocLuc', 'TheThao',
       'HinhThuc'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  475 non-null    int64
 1   GioiTinh    475 non-null    object
 2   Lop         475 non-null    int64
 3   Tuoi        475 non-null    int64
 4   NoiO        475 non-null    object
 5   HocLuc      475 non-null    int64
 6   TheThao     475 non-null    int64
 7   HinhThuc    475 non-null    int64
dtypes: int64(6), object(2)
memory usage: 29.8+ KB

#### Đưa một cột/biến trong file dữ liệu

In [11]:
#Đưa ra dữ liệu cột tuoi (cột thứ 3)
df['Tuoi']

0      11
1      10
2      11
3      11
4      10
       ..
470    11
471    11
472    11
473    11
474    11
Name: Tuoi, Length: 475, dtype: int64

In [12]:
df.Tuoi

0      11
1      10
2      11
3      11
4      10
       ..
470    11
471    11
472    11
473    11
474    11
Name: Tuoi, Length: 475, dtype: int64

In [24]:
df.loc[:, 'Tuoi'] # lấy theo tên/nhãn của dòng và cột, cột là option

0      11
1      10
2      11
3      11
4      10
       ..
470    11
471    11
472    11
473    11
474    11
Name: Tuoi, Length: 475, dtype: int64

In [19]:
df.iloc[:,3] #lấy theo chỉ số

0      11
1      10
2      11
3      11
4      10
       ..
470    11
471    11
472    11
473    11
474    11
Name: Tuoi, Length: 475, dtype: int64

In [26]:
df.iloc[1, 3]

10

In [27]:
df.loc[[1, 3]] #không có tên cột nên lấy theo dòng

   Unnamed: 0 GioiTinh  Lop  Tuoi    NoiO  HocLuc  TheThao  HinhThuc
1           2      Nam    5    10  NgoaiO       2        1         4
3           4       Nu    5    11  NgoaiO       2        3         4

In [28]:
df.loc[df.Tuoi == 11]

     Unnamed: 0 GioiTinh  Lop  Tuoi      NoiO  HocLuc  TheThao  HinhThuc
0             1      Nam    5    11    NgoaiO       1        2         4
2             3       Nu    5    11    NgoaiO       4        3         1
3             4       Nu    5    11    NgoaiO       2        3         4
5             6       Nu    5    11    NgoaiO       4        2         1
10           11       Nu    5    11    NgoaiO       2        3         1
..          ...      ...  ...   ...       ...     ...      ...       ...
470         471      Nam    6    11  NoiThanh       4        1         2
471         472      Nam    6    11  NoiThanh       4        1         2
472         473      Nam    6    11  NoiThanh       4        2         1
473         474      Nam    6    11  NoiThanh       4        1         3
474         475      Nam    6    11  NoiThanh       4        1         2

[189 rows x 8 columns]

In [35]:
#d. Lấy dữ liệu dòng thứ 10
df.loc[9, :]
#hoặc
df.loc[9]
#hoặc
df.iloc[9, :]

Unnamed: 0        10
GioiTinh          Nu
Lop                5
Tuoi              10
NoiO          NgoaiO
HocLuc             4
TheThao            3
HinhThuc           2
Name: 9, dtype: object

In [41]:
#e. Tính số học sinh nữ, nam.
nam = df[df.GioiTinh == "Nam"]
so_nam = nam.shape[0]
print('So SV nam là:', so_nam)
nu = df[df.GioiTinh == "Nu"]
so_nu = nu.shape[0]
print('So SV nu là:', so_nu)

So SV nam là: 227
So SV nu là: 248

In [51]:
#f. Tính tỷ lệ học sinh có mức độ yêu thích thể thao là 4.
muc_4 = df[df.TheThao == 4].shape[0]
so_hs = df.shape[0]
ty_le_4 = muc_4/so_hs
print('Ty le hoc sinh yeu the thao muc 4 la:', ty_le_4)

#Tính tỷ lệ này trong nhóm học sinh nam, trong nhóm học sinh nữ.
nam_4 = df[(df.GioiTinh=="Nam") & (df.TheThao==4)].shape[0]
ty_le_nam_4 = nam_4/so_nam
print('Ty le nam yeu thich the thao 4 la:', ty_le_nam_4)

nu_4 = df[(df.GioiTinh=="Nu") & (df.TheThao==4)].shape[0]
ty_le_nu_4 = nu_4/so_nu
print('Ty le nu yeu thich the thao 4 la:', ty_le_nu_4)

Ty le hoc sinh yeu the thao muc 4 la: 0.0968421052631579
Ty le nam yeu thich the thao 4 la: 0.039647577092511016
Ty le nu yeu thich the thao 4 la: 0.14919354838709678